    <!-- wrapper -->
    <div class="container-flex">
        <!-- navbar -->
        <div class="row animated flipInX">
            <nav class="navbar navbar-light bg-faded">
                <a class="navbar-brand mb-0" href="./home">
                    <img src="{{assets}}/images/Gather.png" alt="logo">
                </a>
                <h2 class="navbar-brand mb-0">Gather!</h2>
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="./home">Home</a></li>
                    <li role="presentation" class="active" id="loginTab"><a href="./login">Login</a></li>
                    <!--<li role="presentation"><a href="./users">UserPage</a></li>-->
                </ul>
            </nav>
        </div>

        <!-- form for user log in -->
        <div class="container-flex logindiv animated fadeIn">
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <div class-"form-group">
                        <label for="userName">Name: </label>
                        <input type="text" class="form-control" id="userName">
                        <br>
                        <label for="passWord">Password: </label>
                        <input type="password" class="form-control" id="passWord">
                    </div>
                </div>
            </div>
            <br>
            <!-- log in button -->
            <div class="row">
                <div class="col-md-4 col-md-offset-5">
                    <button class="btn btn-md" id="logInBtn" type="button"><i class="fa fa-sign-in" aria-hidden="true"></i>  Log In</button>
                </div>
            </div>
        </div>

        <!-- div for movie quotes carousel -->
        <div class="container-flex quotesdiv">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 animated fadeInDown">
                    <h1><small>Fire Up The Quotes! <br><br>
                </div>
            </div>
            <div class="row">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active animated lightSpeedIn col-lg-8 col-lg-offset-2 quotebox">
                            <p>You've got to ask yourself one question: 'Do I feel lucky?' Well, do ya, punk?<br>
                            -Dirty Harry</p>
                        </div>
                        <div class="item animated lightSpeedIn col-lg-8 col-lg-offset-2 quotebox">
                            <p>And cause I was a gazillionaire, and I liked doing it so much, I cut that grass for free.<br>
                            -Forrest Gump</p>
                        </div>
                        <div class="item animated lightSpeedIn col-lg-8 col-lg-offset-2 quotebox">
                            <p>Carpe diem. Seize the day, boys. Make your lives extraordinary.<br>
                            -Dead Poets Society</p>
                        </div>
                        <div class="item animated lightSpeedIn col-lg-8 col-lg-offset-2 quotebox">
                            <p>We're going to play a wonderful game called.. Who is my Daddy and what does he do?<br>
                            -Kindergarten Cop</p>
                        </div>
                        <div class="item animated lightSpeedIn col-lg-8 col-lg-offset-2 quotebox">
                            <p>Gentlemen, you can't fight in here! This is the War Room!<br>
                            -Dr. Stranglove</p>
                        </div>
                    </div>                
                </div>
            </div>

        <!-- footer -->
        <div class="row">
            <footer>
                <div class="footer-copyright">
                    <div class="containter-fluid">
                      <p>© 2017 Copyright: Drew, Jalil, and Jeff</p>
                    </div>
                </div>
            </footer>
        </div>
    
    <!-- wrapper close -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script type="text/javascript">
        $('.carousel').carousel();
    </script>

    <script type="text/javascript" src="{{assets}}/javascript/login.js"></script>
