
    <!-- wrapper -->
    <div class="container-flex">
        <!-- navbar -->
        <div class="row animated flipInX">
            <nav class="navbar navbar-light bg-faded">
                <a class="navbar-brand mb-0" href="./home">
                    <img src="{{assets}}/images/Gather.png" alt="logo">
                </a>
                <h2 class="navbar-brand mb-0">Gather!</h2>
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="./home">Home</a></li>
                    <li role="presentation" id="loginTab"><a href="./login">Login</a></li>
                    <li role="presentation" class="active"><a href="./users">UserPage</a></li>
                </ul>
            </nav>
        </div>

            <!-- search div (find a movie w/ api) -->
        <div class="container-flex searchdiv animated fadeIn">
            <div class="row searchrow">
                <div class="col-lg-6 col-lg-offset-2">
                    <label for="searchByTitle">Find a Movie By Title: </label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchByTitle">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="searchButton" type="button"><i class="fa fa-search" aria-hidden="true"></i>  Search</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row displaySearchRow">
                <div class="col-lg-12 col-lg-offset-1" id="displaySearchDiv">
                    <!--display searched for movie here after searching... -->
                    <!-- dynamically create a button after the movie info is diplayed to add the movie to the database -->
                </div>
            </div>
        </div>


        <!-- Your movies div -->
        <div class="container-flex yourmoviesdiv">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1">
                    <h3>Your current movies <small>Oh yeah!</small></h3>
                </div>
            </div>
            <div class="row displayCurrentRow">
                <div class="col-lg-12 col-lg-offset-1" id="displayCurrentDiv">
                    {{#each data}}
                    <img src="data.poster" alt = "movieposter">
                    {{/each}}
                    <!--display movies from database here, might need to display each in separate row, or in block format (as ul?) -->
                    <!--write JavaScript so that when a movie is clicked on the information from the db on that movie slides out in a new div (using .hide() and .show() ? )-->
                </div>

            </div>
        </div>




        <!-- footer -->
        <div class="row">
            <footer>
                <div class="footer-copyright">
                    <div class="containter-fluid">
                       <p>© 2017 Copyright: Drew, Jalil, and Jeff </p>
                    </div>
                </div>
            </footer>
        </div>

     <!-- wrapper close -->   
    </div>

    <!-- jquery cdn -->
    <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- script tag here for js -->