.navbar {
    margin-left: 3%;
}

.navbar img {
    height: 80px;
    width: 80px;
}

ul{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 13%;
    font-size: 20px;
    border-color: lightsteelblue;
}

li a {
    color: #FE0114;
}


.searchdiv {
    margin-top: 2%;
}

.searchrow {
    padding-bottom: 20px;
}

#movieInfo h3 {
    color: #FE0114;
}

#searchPlot {
    font-size: 16px;
}

#addBtn {
    color: #FE0114;
}

#rmvBtn {
    color: #23527C
}

#searchButton {
    color: #FE0114
}

.yourmoviesdiv  {
    margin-top: 10%;
}

.yourmoviesdiv h3 {
    color: #FE0114;
}

#currentText {
    padding-bottom: 20px;
}


#displayCurrentRow {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

#searchPoster {
    height: 300px;
    width: 200px;
}

#title {
    color: #FE0114;
}

#plotText{
    font-size: 16px;
}

footer {
    text-align: center;
}

footer p {
    margin-top: 2%;
    font-size: 14px;
}